.home__background {
    display: flex;
    background-color: #7da5b8;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.home__top {
    flex-basis: 100%;
    margin-top: 20vh;
    background-color: darkcyan;
}

.home__heading {
    padding-top: 2vh;
    text-align: center;
}

.home__content {
    flex-basis: auto;
    padding-top: 2vh;
    background-color: rgb(194, 90, 111);
}